**/.venv
**/.terraform**
terraform/rhel9*
terraform/releases
terraform/ee6ce*
terraform/*.box
terraform/terraform.tfstate*
**/logs-inst-k8s-ansible-play-output.txt
**/ansible_collections
**/private_key
